// =============================================================================
// ABOUT PAGE
// =============================================================================

.about-page {
  max-width: 700px;
  margin: 0 auto;

  header {
    text-align: center;
    margin-bottom: 2rem;

    .title {
      font-size: 3.2rem;
    }
  }

  .about-content {
    font-size: 1.6rem;
    line-height: 1.8;

    h3 {
      font-size: 2rem;
      margin-top: 3rem;
      margin-bottom: 1rem;
    }

    p {
      margin-bottom: 1.5rem;
    }
  }
}
